<div class="bg-primary">
    <div class="row">
        <img src="../../../assets/img/logo.png" class="col-2">
        <button class="btn btn-warning col-2 mt-3 mb-3" value="Charactersection"
            (click)="showComponent('Charactersection')">Character section</button>
        <button class="btn btn-warning col-2 mt-3 mb-3" value="Studentsection"
            (click)="showComponent('Studentsection')">Student section</button>
        <button class="btn btn-warning col-2 mt-3 mb-3" value="Teachersection"
            (click)="showComponent('Teachersection')">Teacher section</button>
        <button class="btn btn-warning col-2 mt-3 mb-3" value="Seenewstudents"
            (click)="showComponent('Seenewstudents')">See new students</button>
    </div>
</div>