<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-2">Patronus</th>
                    <th class="col-md-2">Age</th>
                    <th class="col-md-2">Image</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light" *ngFor="let char of staffModel">
                    <th class="col-md-2">{{char.name}}</th>
                    <td class="col-md-2">{{char.patronus}}</td>
                    <td class="col-md-2">{{char.yearOfBirth ? 2021 - char.yearOfBirth : "Unknown"}}</td>
                    <img class="col-md-2" src={{char.image}} style="width: 50%;" />
                </tr>
            </tbody>
        </table>
    </div>
</div>